.footer-container{
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding-top: 2rem;
}

.footer-container .footer-image-box{
    flex-basis: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container .footer-image-box .image{
    width: 50%;
    height: auto;
}