.timer-container .timer .clock{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 2rem  0;
}

.timer-container .timer .clock div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer-container .timer .clock div p{
    font-size: 13rem;
    margin: 0;
}

.timer-container .timer .clock div small{
    font-size: 3rem;
}